/* style for PING */
.flex-cont {
  display: flex;
  align-items: center;
  align-content: space-evenly;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px 50px;
}

.title-box {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
  padding: 0.5em 1em;
  margin-bottom: 1em;
  display: inline-block;
}

.flex-cont > * {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
}

.flex-cont .sel hr {
  width: 100%;
}

#grid {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  gap: 5px;
}

.actBtn {
  width: 60px;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
}

#btn-row {
  display: flex;
  justify-content: space-around;

  /* margin-right: -1px; */
}

.side-text {
  padding: 5px 2px 5px 2px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: 2px solid rgb(96 139 168);
  background-color: rgb(96 139 168 / 0.2);
}
